* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 15, 15);
    font-family: "poppins", sans-serif;
}

.sign-up {
    width: 80%;
    height: 600px;
    background-color: #0F172A;
    display: flex;
    flex-direction: row;
    margin: 3rem 10rem;
    /* padding-top: 2rem; */

    padding-top: 4rem;
    padding-left:  10rem;
}

.image-div {
    width: 40%;
    height: auto;
    /* background-color: red; */
}

.image-div img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.form-div {
    width: 45%;
    background-color:#0F172A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 28px;
}

p {
    width: 80%;
    margin-bottom: 1rem;
    color: #94A3B8;
    font-size: 10px;
    margin-left: 2rem;
}

.span-one {
    margin-left:2rem;
    font-size: 12px;
}

.google {
display: flex;
flex-direction: row;
align-items: center;
background-color: #162a59;
color: white;
padding: 8px 32px;
border-radius: 16px;
}

.google img {
    width: 10px;
    height: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1rem;
    
}

label {
   font-size: 12px;
}

input {
    padding: 6px 40px 6px 10px;
    border-radius: 16px;
    margin-left: 2px;
    margin-top: 10px;
    border: 1px solid grey;
    background-color: transparent;
}

.remember {
    color: white;
    font-size: 12px;
    margin-top: 1rem;
}

.remember img {
    width: 10px;
    height: 10px;
}

button {
    padding: 8px 14px;
    background-color: #2563EB;
    border-radius: 16px;
    border: none;
    color: white;
    margin-top: 0.3rem;
    font-size: 10px;
}

.p-link {
    margin-left: 0;
    margin-top: 0.5rem;
}

a {
    color: #2563EB;
}